<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Comentarios</title>
    <!-- Incluir Bootstrap CSS desde CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-4">
        <!-- Encabezado de la página -->
        <header th:replace="~{fragments/header :: headerFragment}"></header>

        <main role="main">
            <!-- Contenido principal -->
            <div class="row">
                <div class="col-md-8">
                    <h2>Comentarios</h2>
                    <div th:replace="~{fragments/comentarios :: comentarioFragment}"></div>
                </div>
    
            </div>
        </main>

        <!-- Pie de página -->
        <footer th:replace="~{fragments/footer :: footerFragment}"></footer>

    </div>

    <!-- Optional Bootstrap JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
