<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Fragmento de Comentario</title>
</head>

<body>
	<!---
	comentarioFragment
	-->
	<div th:fragment="comentarioFragment">
		<div>
			<div class="comentario" th:if="${comentarios != null}">
				<table>
					<tr  th:each="comentario : ${comentarios}">
						<td >
							<p th:text="${comentario.usuario?.username}">
						</td>
						<td>
							<span th:utext="${comentario.contenido}"></span>
						</td>
					</tr>
				</table>
	
			</div>


		</div>

		<!-- Controles de Paginación -->
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<!-- Botón de página anterior -->
				<li class="page-item" th:classappend="${hasPrevious} ? '' : 'disabled'">
					<a class="page-link" th:href="@{${requestURI}(page=${currentPage - 1}, size=${size})}"
						th:if="${hasPrevious}">Anterior</a>
				</li>

				<!-- Números de página -->
				<li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="page-item"
					th:classappend="${i == currentPage} ? 'active' : ''">
					<a class="page-link" th:href="@{${requestURI}(page=${i}, size=${size})}" th:text="${i + 1}">1</a>
				</li>

				<!-- Botón de página siguiente -->
				<li class="page-item" th:classappend="${hasNext} ? '' : 'disabled'">
					<a class="page-link" th:href="@{${requestURI}(page=${currentPage + 1}, size=${size})}"
						th:if="${hasNext}">Siguiente</a>
				</li>
			</ul>
		</nav>
	</div>

 <!--EnlaceComentarioFragment -->
    <div th:fragment="enlaceformularioComentarioFragment">
       <a th:href="@{/user/agregarComentario}">Publicar comentario</a>
    </div>
 
</body>

</html>